@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using TestEFC.Models;
@using TestEFC.ModelView;
@model Dictionary<Item, FileStreamResult>
@{
    string str="/uploads/";
    string url = string.Empty;
}
@*<head>
 <link href="//twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>*@
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<body>

<div>
    @if( TempData["Name"]!=null)
    {
         <p>@TempData["Name"]</p>

    }
    @if(User.Identity.IsAuthenticated)
    {
        <a href="/Logout"> Log out</a>
        
    }
  
</div>

<div class ="table">
<div align="center">
    @if(Model!=null)
    {
         <table class="table table-striped">
              <thead>
    <tr>
    
      <th scope="col">Id</th>
      <th scope="col">Name</th>
       <th scope="col">Price</th>
        <th scope="col">Count</th>
        <th scope="col">Image</th>
  
    </tr>
  </thead>
        
        @foreach(var i in Model)
        {
          
               <tr>
                   
                   <td> @i.Key.Name</td>
                   <td>@i.Key.Price</td>
                 
                      @if(@i.Key.Count==0)
                      {
                         <td>
                         Not available
                          
                       </td>   
                      }
                      else
                      {
                       <td>
                           @i.Key.Count
                       </td>
                            }

                        <td>
                   @*   <img src="upload/@i.Key.Image" />*@
                    <img class="img" src="/uploads/@Url.Content(i.Key.Image)" />
                      </td>

                
               </tr>

           
                
        }
           </table>
    }
    </div>
       @* <img src="@Url.Content($"/upload/{@Model.First().Key.Image}")"/>*@
         @* <img src="~/upload/")"/>*@
       @*   <img src="@Url.Content(Model.Last().Key.Image)" />*@
       
</div>
 <img src="upload/@Model.Last().Key.Image"height="250px" width="500px" />
</body> 
