@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using TestEFC.Models
@model List<ClientInfo>

<div class ="table">
    @if(Model!=null)
    {
        @foreach(var i in Model)
        {
            <table>
               <tr>
                   
                   <td> @i.Id</td>
                   <td>@i.FirstName</td>
                   <td>@i.SecondName</td>
                   <td>@i.UserMail</td>
                   <td>@i.Role</td>
                  
               </tr>

            </table>
                
        }
    }

</div>
